<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DriversTem</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <plugin name="cordova-plugin-x-socialsharing" version="sdk" />
    <plugin name="cordova-plugin-advanced-http" version="sdk" />
    <plugin name="cordova-plugin-media" version="sdk" />

    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing" />
    </feature>
    <feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    <feature name="SocialSharing">
        <param name="wp-package" value="SocialSharing" />
    </feature>
</widget>
